<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<add name="MovieDBContext"
	   connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-vjezba4;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\PatientEntities.mdf"
	   providerName="System.Data.SqlClient"
	/>
	<package id="EntityFramework" version="6.4.4" targetFramework="net472" />
</configuration>

